* {
    box-sizing: border-box;
}

body, head {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.calc_choice {
    p{
        margin: 0;
        font-size: 24px;
        margin-right: 20px;
    }
}

.calculate {
    display: block!important;
    margin: 30px auto;
}

.button-information {
    display: block!important;
    margin: 30px auto;
    padding: 10px 20px!important;
}

.output {
    margin: 50px auto;
    padding: 25px 0;
    text-align: left;
    border-radius: 20px;
    background-color: #BDD7EE;
    h4{
        text-align: center;
    }
}

.main_calculator{
    margin-top: 50px;
    margin-bottom: 30px;
}